/* styles.css */

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .container {
    display: grid;
    grid-template-columns: 0.8fr 0.9fr 1fr 1.3fr;
    grid-template-rows: 0.2fr 1.9fr 0.1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "navbar navbar navbar navbar"
      "book-list book-list book-list book-details"
      "footer footer footer footer";
  }
  
  .navbar {
    grid-area: navbar;
    background-color: #333;
    color: #fff;
    padding: 10px;
    font-size: 24px;
  }
  
  .footer {
    grid-area: footer;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 14px;
  }
  
  .book-list {
    grid-area: book-list;
    background-color: lightgray;
    padding: 10px;
  }
  
  .book-details {
    grid-area: book-details;
    padding: 10px;
  }
  
  .footer {
    margin-top: auto;
  }
  